.card-container{

    display: flex;
    flex-direction: column;
    background-color: #F9F4EA;
    width: 250px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    overflow-y: scroll;

    .card-image{
        width: 250px;
        height: 200px;
    }

    .card-text-content{
        text-align: left;
        padding: 10px;
    }
    
    .card-name{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.67px;       
    }
    

        /* Media Query for Desktop */
  @media (min-width: 768px) {
    .card-text-content{
        text-align: center;
    }
  }
}

