.order-item-container{
    
    height: 10vh;
    background-color: #F9F4EA;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;


    .order-item-image{
        width: 100px;
    }

    .card-text-content{

        display: flex;
        flex-direction: column;

        .order-item-name-amount-container{
            display: flex;
            flex-direction: row;
        }

        .order-item-price{
            align-self:end;
        }
    }

    /* Media Query for Desktop */
    @media (min-width: 768px) {

        
    }

    /* Media Query for Mobile */
    @media (max-width: 767px) {
        width: 80vw;
        height: 14vh;
        
    
    }
  
}


