.navbar {
    background-color: white;
  
  .nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between; 
    height: 50px; 
  }

  .right-nav-items{
    justify-content: end;
  }
  
  .centered-icon{
    justify-content: center;
  }
  
  .nav-item {
    display: flex;
    flex:1;

    .right-icons-container{
      display: flex;
    }
  }
  
}
  