.footer-container{
    
    display: flex;
    flex-direction: column;
    padding: 20px;

    .footer-item{
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        letter-spacing: 1.92px;
    }

       /* Media Query for Desktop */
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;

    .footer-item{
        padding-right: 40px;
    }
  }

}
