.distance-popover-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	width: 30vw;
	padding-bottom: 20px;

	.distance-top-title {
		color: #000;
		text-align: center;
		font-family: Helvetica Neue;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 1.92px;
	}

	.distance-popover-content {
		background-color: #f9f4ea;
		align-self: start;
		width: 28vw;
		padding: 10px;
		padding-top: 0;
		border-radius: 10px;

		.my-location-title,
		.km-title {
			color: #000;
			font-family: Helvetica Neue;
			font-size: 14px;
			font-style: normal;
			font-weight: 300;
			line-height: 20px; 
			letter-spacing: 1.97px;
		}

		.distance-popover-text-content {
			display: flex;
			justify-content: space-between;
			height: 2vh;
		}

		.distance-user-input-range {
			width: 100%;
			-webkit-appearance: none;
			background: #ccc;
			height: 5px;
			border-radius: 5px;
		}
	}

	.custom-range-thumb-distance::-webkit-slider-thumb {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background: black;
		cursor: pointer;
		-webkit-appearance: none;
	}

	.custom-range-thumb-distance-gray::-webkit-slider-thumb {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background: #ccc;
		-webkit-appearance: none;
	}

	.custom-range-thumb-distance-gray {
		-webkit-appearance: none;

		&::-webkit-slider-thumb {
			transform: translateY(25px);
		}
	}
}
