.price-range-popover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .price-range-content{
    background-color: #F9F4EA;
    align-self: start;
    width: 28vw;
    padding: 10px;
    
    .price-range-popover-text-content{
      display: flex;
      justify-content: space-between;
    }

    .price-range-user-input-max,
    .price-range-user-input-min
    {
        width: 100%;
        -webkit-appearance: none;
        background: #ccc;
        height: 5px;
        border-radius: 5px;
      }

      .price-range-user-input-min{
        background: transparent;
        
        &::-webkit-slider-thumb{
          transform: translateY(17px);
        }
      }



  }