.price-range-popover-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
}

.price-range-title {
	font-weight: 400;
	margin-top: 2px;
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.92px;
  margin-bottom: 8px;
}

.price-range-numbers-values {
	margin-top: 0;
	padding-bottom: 8px;
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 200;
	line-height: 20px;
	letter-spacing: 1.97px;
}
.price-range-content {
	background-color: #f9f4ea;
	align-self: start;
	width: 28vw;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;

	.price-range-popover-text-content {
		display: flex;
		justify-content: space-between;
		height: 3vh;

		.price-number {
			font-family: Helvetica Neue;
			font-size: 14px;
			font-style: normal;
			font-weight: 200;
			line-height: 20px;
			letter-spacing: 1.97px;
		}
	}

	.price-range-user-input-max,
	.price-range-user-input-min {
		width: 100%;
		-webkit-appearance: none;
		background: #ccc;
		height: 5px;
		border-radius: 5px;
	}

	.price-range-user-input-min {
		background: transparent;

		&::-webkit-slider-thumb {
			transform: translateY(17px);
		}
	}

	.custom-range-thumb::-webkit-slider-thumb {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background: black;
		cursor: pointer;
		-webkit-appearance: none;
	}
}
