.about-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    background-color: #FAFAFA;

    .about-image {
        width: 220px;
        height: 120px;
    }

    .about-text-content {
        padding: 10px;

        .about-us-title,
        .about-us-content {
            font-size: 16px;
            line-height: 35px;
            letter-spacing: 2px;
            text-transform: capitalize;
        }
    }

        /* Media Query for Desktop */
  @media (min-width: 768px) {
  
     flex-direction: row;
     align-items: center;
     justify-content: start;
     padding: 20px;

     .logo-image{
        align-self: center;
        justify-self: end;
        flex: 1;
    }
    
    .about-container-title-content-images{
        display: flex;
        flex-direction: column;
        flex: 1;

        .about-us-content{
            width: 40vw;
        }

        .app-downloads-images{
            display: flex;
            flex-direction: row;

            .about-image{
                padding: 10px;
            }
        }
    }
  }
}
