.about-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(250, 253, 250, 1);
}

.about-image{
    width: 220px;
    height: 150px;
}

.about-text-content{
    color: gray;
    padding: 10px;
}