.chef-of-the-week-restaurants-container{
    
    display: flex;
    flex-direction: column;
    background-color: #F9F4EA;
    width: 220px;
    height: 300px;

    .chef-of-the-week-restaurant-image{
        width: 220px;
        height: 200px;
    }
    
    .chef-of-the-week-retaurant-name{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.67px;
        padding: 10px;
    }
}

