@import '../../../shared/styles/mixin.scss';

.chef-of-the-week-container {
    
    display: flex;
    flex-direction: column;
    padding: 40px;
   
    .chef-of-the-week-title{
        font-size: 16px;
    }
    
    .chef-of-the-week-summary{
        font-size: 18px;
        line-height: 28px; 
        letter-spacing: 1.25px;
    }

    .chef-of-the-week-restaurants-title{
        font-size: 16px;
        line-height: 25px; 
        letter-spacing: 1.25px;
        margin: 30px 0;
        text-transform: uppercase;
    }
    
    .all-restaurants{
        @include all-restaurants;
    }

    .chef-of-the-week-restaurants-cards-display{
       gap: 10px;
       cursor: pointer;

       & img, .card-container{
        width: 200px;
        object-fit: cover;
        
        .card-text-content{
            height: 100px;
        }

        & .card-text-content > .card-name{
            font-size: 20px;
        }
    }
    }

    /* Media Query for Desktop */
  @media (min-width: 768px) {

    padding: 0 80px 10px 80px;
    // max-width: ;

        .chef-of-the-week-title{
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .chef-of-the-week-summary{
            padding-left: 40px;
            line-height: 35px; 
        }

        .chef-of-the-week-name-image-summary-container{
            display: flex;
            flex-direction: row;
        
            .chef-of-the-week-summary{
                width: fit-content;
                margin: 0;
            }
        }

        .all-restaurants{
            display: none;
        }

        .chef-of-the-week-restaurants-cards-display{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    /* Media Query for Mobile */
  @media (max-width: 767px) {
    padding: 10px 20px;

    .chef-of-the-week-restaurants-cards-display {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        padding-bottom: 10px; 
    }

    .chef-of-the-week-restaurants-cards-display::-webkit-scrollbar {
        display: none;
    }
}
}

