.chef-of-the-week-restaurants-container{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 220px;
    height: 300px;
}

.chef-of-the-week-restaurant-image{
    width: 220px;
    height: 200px;
}

.chef-of-the-week-retaurant-name{
    padding: 10px;
}
