@import '../../../shared/styles/mixin.scss';

.popular-restaurants-container {
	display: flex;
	flex-direction: column;
	padding: 20px;

	.popular-restaurants-title {
		font-size: 16px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 200;
		line-height: 35px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
	}

	.popular-restaurants-cards-display {
		display: flex;
		flex-direction: row;
		gap: 20px;

		.chef-name {
			color: #000;
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: 200;
			// line-height: 30px; /* 125% */
			letter-spacing: 1.97px;
		}
	}

	.all-restaurants {
		@include all-restaurants;
		font-weight: 400;
	}

	/* Media Query for Desktop */
	@media (min-width: 768px) {
		margin: 20px 0;
		justify-content: center;
		align-items: center;
		padding: 0 80px 10px 80px;

		.popular-restaurants-title {
			font-size: 22px;
		}

		.popular-restaurants-cards-display {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			cursor: pointer;
		}

		.all-restaurants {
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: end;
		}
	}

	/* Media Query for Mobile */
	@media (max-width: 767px) {
		.popular-restaurant-image {
			display: none;
		}

		.popular-restaurants-cards-display {
			overflow-x: auto;
			flex-wrap: nowrap;
			-webkit-overflow-scrolling: touch;
			scrollbar-width: none;
			padding-bottom: 10px;
		}

		.popular-restaurants-cards-display::-webkit-scrollbar {
			display: none;
		}
	}
}
