.popular-restaurant-in-epicure-card{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 220px;
    height: 210px;
}

.restaurant-image{
    width: 220px;
    height: 200px;
}

.restaurant-name{
    font-size: 15px;
    padding-left: 10px;
    margin: 5px;
}

.restaurant-chef{
    font-size: 10px;
    color: rgb(128, 128, 128);
    padding-left: 10px;
    margin: 5px;
}
