.search-container {
	background: url('../assets/images/others/mainPageImage.png') no-repeat;
	background-size: cover;
	width: 100%;
	height: 40vh;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;

	.overlay {
		background: rgba(255, 255, 255, 0.88);
		padding: 20px 10px;
		width: 80%
	}

	.search-title {
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 1.97px;
		text-align: center;
		margin: 0;
		padding-bottom: 10px;
	}

	.search-input-container {
		position: relative;
		text-align: center;

		input {
			outline: none;
		}
	}

	.search-icon {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		width: 32px;
		height: 32px;
	}

	.user-search-start-page {
		padding-left: 35px;
		width: 90%;
		padding: 10px;
		text-align: center;
		border: 0.5px solid black;
		border-radius: 4px;
		background-color: transparent;
		text-indent: 25px;
		letter-spacing: 1.29px;
		font-size: 12px;
		font-family: Helvetica;
		font-weight: 200;
	}

	/* Media Query for Desktop */
	@media (min-width: 768px) {
		.overlay {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 600px;
			padding: 40px 40px;
		}

		.search-title {
			text-align: center;
			padding-bottom: 20px;
			margin: 0;
			line-height: 40px; 
			letter-spacing: 1.97px;
		}

		.user-search-start-page {
		font-size: 18px;
		}
		

		.search-input-container {
			width: 90%;
		}

		.search-icon {
			left: 30px;
		}
	}

	/* Media Query for mobile */
	@media (max-width: 768px) {
		.search-title {
			font-size: 20px;
		}

		.search-icon {
		width: 24px;
		height: 24px;
		}
	}
}
