@import '../../../shared/styles/mixin.scss';

.signature-dishes-container{

    display: flex;
    flex-direction: column;
    padding: 20px;
   
    
    .signature-dishes-title{
        font-size: 18px;
        line-height: 35px; 
        letter-spacing: 1.25px;
        text-transform: uppercase;
    }
    

    .signature-dishes-cards-display{
      gap: 10px;
      height: fit-content;

      .dish-ingredients{
        height: 100px;
        overflow: auto;
      }

      .signature-dish-icon{
        width: 40px;
        height: 40px;
      }

 }
    /* Media Query for Desktop */
  @media (min-width: 768px) {

    justify-content: center;
    align-items: center;
    padding: 0 80px 10px 80px;

   .signature-dishes-cards-display{
        display: flex;
        flex-direction: row;
   }

   .all-restaurants{
    display: none;
   }

   .price-line-with-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .line {
        width: 50%; 
        height: 1px; 
        background-color: black; 
        margin-right: 10px;
        margin-left: 10px;
    }
}
  
}

  /* Media Query for mobile */
  @media (max-width: 768px) {

   .signature-dishes-cards-display{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        padding-bottom: 10px; 
   }

   .signature-dishes-cards-display::-webkit-scrollbar {
      display: none;
  }

  .all-restaurants{
    @include all-restaurants;
  }
}
}
