.signature-dish-item-card{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 220px;
    height: 300px;
}

.dish-image {
    width: 220px;
    height: 200px;
}

.dish-name {
    font-size: 15px;
    padding-left: 10px;
    margin: 5px;
}

.dish-price{
    font-size: 15px;
    padding-left: 10px;
    margin: 5px;
}

.dish-ingrediant{
    font-size: 10px;
    color: rgb(128, 128, 128);
    padding-left: 10px;
    margin: 5px;
}

.dish-special-icon{
    width: 20px;
    height: 20px;
    padding-left: 10px;
}
