.header-container {
    z-index: 1; 
    background-color: white;
    position: sticky;
    top: 0;
  
  .header-icons-row {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between; 
    height: 50px; 
  }

  .right-icons-items{
    justify-content: end;
  }
  
  .logo-icon-item{
    justify-content: center;
  }
  
  .header-icon-item{
    display: flex;
    flex:1;

    .right-icons-items-container{
      display: flex;
    }
  }



  /* Media Query for Desktop */
  @media (min-width: 768px) {

    padding: 0 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.213);     
    .mobile-menu-icon-item{
      display: none;
    }



    .header-icon-item{
      flex: 0;
    }

    .logo-icon-item{
      display: flex;
      align-items: center;
    }

    .right-icons-items{
      flex: 1;
    }

    .desktop-nav-items {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      
      .burger-menu-item-name{
        color: black;
        text-decoration: none;
      }
      
      .selected-route {
        color: black;
        text-decoration: underline;
        text-decoration-color: #DE9200E5;
        text-decoration-thickness: 2px; 
        text-underline-offset: 5px; 
      }

      .epicure-title-desktop{
        padding:0;
        font-size: 20px;
      }
    }
  }

  /* Media Query for Mobile */
  @media (max-width: 767px) {
    padding: 0 10px;

    .desktop-nav-items {
      display: none;
    }
  }
}
  




