.nav-item-icon-container{
    position: relative;
    text-decoration: none;
    padding: 10px;

    .icon-image{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .total-item-amount{
        background-color: black;
        color: white;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        font-size: 10px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
      }
}
