.form-container {
	
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 20px;

	.form-close{
		position: absolute;
		background-color: transparent;
		border: none;
		cursor: pointer;
		top: 10%;
	}

	.checkout-form {

		.checkout-form-delivery-details-container,
		.checkout-form-payment-details-container {
			display: flex;
			flex-direction: column;
		}

		.checkout-form-input-field {
			border: none;
			border-bottom: 1px solid #000;
			margin-bottom: 15px;
			background-color: transparent;
		}

	}
	/* Media Query for mobile */
	@media (max-width: 768px) {
		width: 80vw;
	}

	/* Media Query for desktop */
	@media (min-width: 768px) {
		width: 20vw;
		.form-close{
			display: none;
		}
	}
}
