.checkout-container {

	/* Media Query for mobile */
	@media (max-width: 768px) {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;	

		.checkout-complete-payment-button{

			border: 1px solid black;
			border: none;
			background: transparent;
			cursor: pointer;
			padding-top: 20px;

			.checkout-complete-payment-image{
				width: 80vw;
			}
		}
		
		.checkout-pay-button{
			display: none;
		}
	}

	/* Media Query for desktop */
	@media (min-width: 768px) {

		.checkout-content-desktop-row{

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 20px;	
			gap: 20px;
			

			.check-out-parent-container{

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 30vw;
				height: 80vh;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
				overflow: auto;

				.checkout-pay-button{
					border: 1px solid black;
					border: none;
					background: transparent;
					cursor: pointer;
					padding-top: 20px;
				}
			}
		}
		.checkout-complete-payment-button{
			display: none;
		}
	}
}
