@import '../../../shared/styles/mixin.scss';

.sign-in-modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sign-in-title{
	font-size: 24px;
	margin-bottom: 0;
	margin-top:0;
}

.sign-in-description{
	font-size: 18px;
}

.sign-in-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	width: 90%;

	.inputs-container{
		width: 90%;
	}

	.sign-in-input{
		border: none;
		border-bottom: 1px solid #ccc;
		outline: none;
		width: 90%;
		margin-top: 6px;
		margin-bottom: 25px;
	}

	.forgot-password {
		text-decoration: none;
		color: black;
		text-align: center;
	}

	.line-with-text{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	
		.line {
			width: 100px; 
			height: 1px; 
			background-color: #979797; 
			margin-right: 10px;
			margin-left: 10px;
		  }
	}

	.login-button{
		@include button;
		@include black-button;
		width: 60%
	}

	.sign-up-button {
		@include button;
		@include white-button;
		width: 60%
	}

	.error-message{
		color: red;
	}
}

/* Media Query for mobile */
@media (max-width: 767px) {
	.top-sign-in-modal-content {
		top: 0;
		width: 100vw;
	}

	.close-modal-button-container{
		width: 100%;
		height: 40px;
		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.07);
		margin-bottom: 20px;

		.close-modal-button-mobile {
			height: 100%;
			background-color: transparent;
			border: none;
			cursor: pointer;
			margin-left: 10px;
		}
	}


	.inputs-container{
		width: 90%;
	}
	.sign-in-label{
		opacity: 0.4;
		align-self: start;
	}
}
/* Media Query for desktop */
@media (min-width: 767px) {
	.sign-in-modal-content{

		padding: 20px;
	}

	.centered-sign-in-modal-content {
		width:400px;
		height: 400px;
	}
	.sign-in-form {
		// width: 15vw;
	}
	.sign-in-label{
		display: none;
	}
	
}
