.sign-in-modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	position: fixed;

}

.sign-in-form {
	display: flex;
	flex-direction: column;

	.user-email-input,
	.user-password-input {
		border: none;
		border-bottom: 1px solid #ccc;
	}

	.forgot-password {
		text-decoration: none;
		color: black;
		text-align: center;
	}

	.login-button {
		background-color: gray;
		border: none;
		padding: 10px;
		color: white;
	}

	.login-button-black{
		background-color: black;
	}

	.sign-up-button {
		background-color: white;
		border: 2px black solid;
		padding: 10px;
	}
}

/* Media Query for mobile */
@media (max-width: 767px) {
	.top-sign-in-modal-content {
		top: 0;
		left: 0;
		width: 100vw;
		height: 60vh;
	}
	.close-modal-button {
		position: absolute;
		background-color: transparent;
		border: none;
		cursor: pointer;
		top: 0;
		left: 0;
	}
}
/* Media Query for desktop */
@media (min-width: 767px) {
	.centered-sign-in-modal-content {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width:400px;
		height: 400px;
	}
	.close-modal-button {
		position: absolute;
		background-color: transparent;
		filter: invert(1);
		border: none;
		cursor: pointer;
		top: -25px;
		left: 0;
	}
}
