.restaurants-categories-container {
	display: flex;
	flex-direction: row;
	justify-content: center;

	.restaurant-category-item {
		cursor: pointer;
		padding-right: 80px;

		font-family: Helvetica Neue;
		font-size: 18px;
		font-style: normal;
		font-weight: 200;
		line-height: normal;
		letter-spacing: 1.92px;

		&.category-item-selected {
			font-weight: bold;
		}
	}
	/* Media Query for desktop */
	@media (min-width: 767px) {
		padding-bottom: 10px;

		.restaurants-categories-container {
			justify-content: center;
		}

		.restaurant-category-item {
			padding-right: 80px;

			&.category-item-selected {
				font-weight: bold;
			}
		}

		.filter-item-selected {
			background-color: #d0cfcf;
		}
	}

	/* Media Query for mobile */
	@media (max-width: 767px) {
		justify-content: space-between;
		font-size: 14px;
		.restaurant-category-item {
			padding-right: 20px;
			&.category-item-selected {
				text-decoration: underline;
				text-decoration-color: #de9200e5;
				text-decoration-thickness: 2px;
				text-underline-offset: 5px;
			}
		}
	}
}
