.row-filter {
	display: flex;
	flex-direction: row;
	background-color: #fafafa;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-bottom: 10px;
	width: 100vw;

	.filter-item {
		padding-right: 30px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fafafa;
		border: none;
		color: #000;
		font-family: Helvetica Neue;
		font-size: 18px;
		font-style: normal;
		font-weight: 200;
		line-height: normal;
		letter-spacing: 1.92px;
	}

	.filter-item-selected {
		background-color: #d0cfcf;
	}

	.downward-arrow-icon {
		width: 20px;
		height: 15px;
		.restaurant-filter-downward-arrow {
			width: 20px;
			height: 15px;
		}
	}
}

/* Media Query for mobile */
@media (max-width: 767px) {
	.row-filter {
		display: none;
	}
}
