.row-filter{
    
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .filter-item{
        padding-right: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;  
        background-color: #FAFAFA;
        border: none;
    }
}

 /* Media Query for mobile */
 @media (max-width: 767px) {
  .row-filter{
      display: none;
  }
}
