.row-filter{
    
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;

    .filter-item{
        padding-right: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;  
        background-color: #FAFAFA;
        border: none;
    }

    .filter-item-selected{
        background-color: #D0CFCF;
    }

    .downward-arrow-icon{
        width: 20px;
        height: 15px;
        .restaurant-filter-downward-arrow{
            width: 20px;
            height: 15px;
            
        }
    }
}

 /* Media Query for mobile */
 @media (max-width: 767px) {
  .row-filter{
      display: none;
  }
}
