.restaurants-page-container {
	padding: 10px;

	.restaurant-page-title {
		font-size: 20px;
	}

	.restaurants-list {
		display: flex;
		flex-direction: row;
		gap: 20px;
		padding: 10px;
		margin-top: 30px;
	}

	.restaurant-link {
		text-decoration: none;
	}

	/* Media Query for desktop */
	@media (min-width: 767px) {
		min-height: 85vh;

		display: flex;
		flex-direction: column;
		align-items: center;

		.restaurant-page-title {
			display: none;
		}

		.restaurants-list {
			padding: 0 80px 10px 80px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
		}
	}

	/* Media Query for mobile */
	@media (max-width: 767px) {
		.restaurants-title-categories-filters-container {
			padding-left: 10px;
			padding-right: 10px;
		}

		.restaurants-list {
			display: flex;
			flex-direction: column;
		}
		.restaurant-rating {
			display: none;
		}

		.modals-container {
			display: none;
		}

		.card-image {
			width: 100%;
		}
	}


}
