

.after-payment-modal-container{
  padding: 20px;
    .after-payment-modal-container-text{
      padding: 20px;
      overflow: auto;
      height: 100%;
    }
    
    .after-payment-modal-container-text,
    .order-summary-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .order-summary-details{
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
  
  /* Media Query for mobile */
	@media (max-width: 768px) {
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 60vh;

      .after-payment-modal-close {
       display: none;
      }
	}

   /* Media Query for desktop */
  @media (min-width: 768px) {
      width: 20vw; 
      height: 45vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}