@import '../../../shared/styles/mixin.scss';

.delete-order-modal-container{
    
    height: 82vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    .delete-order-button {
        @include button;
        @include black-button;
    }

    .back-to-order-button{
        @include button;
        @include white-button;
    }

    /* Media Query for mobile */
	@media (max-width: 768px) {
		width: 50vw;
    }
}