.modal-content {
    background-color: white;
    position: absolute;
    top: 18%;
    left: 42%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  