.specific-dish-modal-container {
    height: 80vh;
    width: 35vw;
    overflow: auto;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 1.97px;
    
    .dish-ingredients{
      padding: 5px 200px;
    }

}